RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.+) $1.php

php_value upload_max_filesize 10M

<IfModule mod_fcgid.c>
    AddHandler fcgid-script .php
    AddHandler fcgid-script .py
    DirectoryIndex index.php
    <Files *.php>
        Options +ExecCGI
    </Files>
    <Files *.py>
        Options +ExecCGI
    </Files>
</IfModule>
